.root {
  background: #fff;
  border-radius: 5px;
  color: #000;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  transition: background 200ms ease-in-out;
  line-height: 1;
  min-width: 200px;
  font-size: 0.875rem;
}

.root:hover {
  background: #e5e5e5;
  color: black;
}

.root svg {
  margin-right: 12px;
}

.doubleWrap {
  display: flex;
  flex-direction: row;
}

.doubleWrap a:nth-child(2) {
  margin-left: 5px;
}

.doubleWrap a:nth-child(1) {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .doubleWrap {
    flex-direction: column;
  }
  .doubleWrap a:nth-child(2) {
    margin-left: 0;
  }

  .doubleWrap a:nth-child(1) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}